pytest>=4.4.0
platiagro @ git+https://github.com/platiagro/sdk.git@master#egg=platiagro[plotting]
papermill[s3]==2.1.2
scikit-learn==0.22.2.post1
category-encoders==2.2.2
smac>=0.12,<0.13
auto-sklearn==0.7.0
featuretools==0.14.0
networkx==2.4
nltk==3.5.0
openpyxl==3.0.5
Unidecode==1.1.1
ftfy==5.8
pytesseract==0.3.6
opencv-python==4.4.0.46
tensorflow==2.3.0
gdown==3.12.2
scikit-optimize==0.8.1
xlrd==1.2.0
jiwer==2.2.0
spacy==2.2.4
sacrebleu==1.4.9
ipywidgets